.main {
  display: flex;
  padding: 0 30px;
  width: 100%;
}

.sidebar {
  max-width: 280px;
  min-width: 250px;
  padding: 10px;
}
.sidebar > div {
  padding-bottom: 60px;
}
p > a {
  text-decoration: none;
}
.categories {
  padding: 10px;
  width: calc(100% - 250px);
}
.category {
  padding-bottom: 40px;
}
.category > p {
  padding: 10px 0;
  font-size: 1.25rem;
  font-weight: 500;
}
.sw {
  height: 380px;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .main {
    display: none;
  }
}
