.main {
  display: flex;
  padding: 0 30px;
  width: 100%;
}

.sidebar {
  max-width: 280px;
  min-width: 250px;
  padding: 10px;
}
.sidebar > div {
  padding-bottom: 60px;
}
p > a {
  text-decoration: none;
}
.categories {
  padding: 10px;
  width: calc(100% - 250px);
}
.hor {
  display: grid;
  height: 90px;
  grid-gap: 0 20px; /* row gap: 0, column gap: 20px */
  grid-auto-flow: column; /* place grid items in columns */
  grid-auto-columns: 250px; /* default size for the columns in the grid */
  overflow-x: auto;
  margin-top: auto;
  margin-bottom: auto;
  height: 385px;
  place-items: center;
}
.category {
  padding-bottom: 40px;
}
.category > p {
  padding: 10px 0;
  font-size: 1.25rem;
  font-weight: 500;
}
.sw {
  height: 380px;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .sidebar {
    display: none;
  }
  .categories {
    width: 100%;
  }
  .hor {
    height: 11rem;
  }
}
