.card_holder {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 20px 15px;
  justify-items: stretch;

}
@media screen and (max-width: 768px) {
  .card_holder {
    display: flex;
    flex-direction: column;
    gap: 15px 20px;
  }
}