.card {
  display: flex;
  flex-direction: column;
  /* flex-basis: 250px; */
  /* width: 250px; */
  /* max-width: 300px; */
  height: 360px;
  background-color: #fff;
  border-radius: 1rem;
  border: 1px solid #e5e7eb;
  cursor: pointer;
  flex-grow: 1;
  transition: all 0.3s ease;
  overflow: hidden;
  cursor: pointer;
  /* pointer-events: none; */
  user-select: none;
}
.card:hover {
  transform: scale(1.01);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.card_img {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 180px;
  overflow: hidden;
  /* user-drag: none; */
}
.card_img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  user-select: none;
  pointer-events: none;
}

.abs {
  position: absolute;
}

.category {
  top: 0;
  left: 0;
  padding: 10px 15px;
  background-color: rgb(5 30 68);
  font-size: 0.625rem;
  font-weight: 700;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  border-radius: 1rem 0;
  color: white;
}
.offer {
  bottom: 10px;
  right: 10px;
  padding: 0.5rem 1rem;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: bold;
  border: 1px solid rgba(243, 244, 246, 0.938);
  border-radius: 1rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-color: white;
}

.hr {
  border: none;
  background: rgba(128, 128, 128, 0.493);
  height: 1px;
  width: 80%;
  margin: 0 auto;
}

.card_details {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 180px;
  padding: 8px;
}
.card_footer_top {
  flex-grow: 1;
}

.card_footer_top > p:first-child {
  font-size: 0.75rem;
  text-transform: uppercase;
}
.card_footer_top > p:last-child {
  font-size: 0.875rem;
}

.card_footer {
  padding-bottom: 5px;
}
.card_footer p,
del {
  font-size: 0.75rem;
  margin: 3px 0;
}
.card_footer div {
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .card {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    height: 10rem;
    transition: all 0.3s ease;
  }
  .card_img {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 260px;
    height: 10rem;
  }
  .hr {
    transform: rotate(90deg);
    display: none;
  }
  .card_details {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 8px;
  }
  .card_footer {
    padding-bottom: 0;
  }
  .card_footer div {
    flex-direction: column;
  }
  .card_footer_top > p:first-child {
    margin-top: 0;
  }
}
