*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.formContainer{
    background-color: #474D5D;
}

.text-color{
    color: black;
    font-weight: 600;
}