@import "../node_modules/@glidejs/glide/dist/css/glide.core.min.css";
@import "../node_modules/@glidejs/glide/dist/css/glide.theme.min.css";
* {
  box-sizing: border-box;
}

.glide__bullet--active{
  color: red;
  background-color: red;
  width: 30px;
}

body {
  margin: 0;
  background-color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
