.rounded {
<<<<<<< HEAD
  border-radius: 40px;
  width: 100%;
  box-shadow: inset rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.glide {
  overflow: hidden;
=======
  width: 100%;
  height: 100%;
  object-fit: cover;
>>>>>>> devolop
}
.glide {
  margin: 10px 0;
  padding-bottom: 20px;
  overflow: hidden;
}
.glide__track {
  overflow: visible;
  margin: auto;
  width: 90%;
}
.glide__track > ul{
  padding-bottom: 20px;
}

.slider {
  border-radius: 40px;
  box-shadow: inset rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    overflow: hidden;
  height: auto !important;
}

.glide__arrow__left,
.glide__arrow__right {
  border-radius: 9999px;
  font-weight: bolder;
  color: black;
  background-color: white;
  opacity: 0.9;
  padding: 10px;
}
.glide__arrow:focus {
  outline: none;
}
.glide__arrow:hover {
  border-color: #fff;
}
.glide__arrow__left {
  left: 100px;
  transform: translateY(-40px);
}
.glide__arrow__right {
  right: 100px;
  transform: translateY(-40px);
}
.svg {
  transform: rotate(180deg);
}
.glide__arrow--disabled {
  opacity: 0.33;
}
.glide__bullets {
  bottom: 2em;
  display: inline-flex;
  left: 50%;
  list-style: none;
  position: absolute;
  transform: translate(-50%, 400%);
  z-index: 2;
}

.glide__bullet {
  /* background-color: hsla(0, 0%, 100%, 0.5); */
  /* border: 2px solid transparent;
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.1);
  cursor: pointer;
  line-height: 0;
  margin: 0 0.25em;
  padding: 0;
  transition: all 0.3s ease-in-out; */
  border-radius: 3px;
  height: 3px;
  width: 20px;
}
/* .glide__bullet:focus {
  outline: none;
}
.glide__bullet:focus,
.glide__bullet:hover {
  border: 2px solid #fff;
} */

.glide--swipeable {
  cursor: grab;
  cursor: -webkit-grab;
}
.glide--dragging {
  cursor: grabbing;
  cursor: -webkit-grabbing;
}

@media screen and (max-width: 768px) {
  .glide .glide__arrow__left,
  .glide__arrow__right {
    display: none;
  }
}
