.rounded {
  border-radius: 40px;
  width: 100%;
  box-shadow: inset rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.glide {
  overflow: hidden;
}

.glide__track {
  overflow: visible;
  margin: auto;
  width: 90%;
}

.glide__arrow__left,
.glide__arrow__right {
  border-radius: 9999px;
  font-weight: bolder;
  color: black;
  background-color: white;
  opacity: 0.9;
  padding: 10px;
}
.glide__arrow:focus {
  outline: none;
}
.glide__arrow:hover {
  border-color: #fff;
}
.glide__arrow__left {
  left: 7%;
}
.glide__arrow__right {
  right: 7%;
}
.svg {
  transform: rotate(180deg);
}
.glide__arrow--disabled {
  opacity: 0.33;
}
.glide__bullets {
  bottom: 2em;
  display: inline-flex;
  left: 50%;
  list-style: none;
  position: absolute;
  transform: translateX(-50%);
  z-index: 2;
}
.glide__bullet {
  background-color: hsla(0, 0%, 100%, 0.5);
  border: 2px solid transparent;
  border-radius: 50%;
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.1);
  cursor: pointer;
  height: 9px;
  line-height: 0;
  margin: 0 0.25em;
  padding: 0;
  transition: all 0.3s ease-in-out;
  width: 9px;
}
.glide__bullet:focus {
  outline: none;
}
.glide__bullet:focus,
.glide__bullet:hover {
  background-color: hsla(0, 0%, 100%, 0.5);
  border: 2px solid #fff;
}
.glide__bullet--active {
  background-color: #fff;
}
.glide--swipeable {
  cursor: grab;
  cursor: -webkit-grab;
}
.glide--dragging {
  cursor: grabbing;
  cursor: -webkit-grabbing;
}
